<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="false" scan="true" scanPeriod="30 seconds" packagingData="false">

    <variable name="LOG_DIR" value="/tmp"/>
    <variable name="APP_NAME" value="playground"/>

    <import class="ch.qos.logback.core.ConsoleAppender"/>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <encoder class="PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]%-5level %logger{72}[%L] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.flywaydb.core" level="info"/>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>