<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yingzhuo.playground.mapper.UserPasswordHistoryMapper">

    <select id="findByUserIdLimit" parameterType="map" resultType="UserPasswordHistory">
        <!-- @formatter:off -->
        SELECT
            id,
            hashed_pwd     AS 'hashedPassword',
            user_id        AS 'userId',
            create_time    AS 'createTime'
        FROM
            t_user_pwd_his AS uph
        WHERE
            uph.user_id     = #{userId}
        ORDER BY
            uph.create_time DESC
        LIMIT
            #{limit}
        <!-- @formatter:on -->
    </select>

    <select id="findByUserIdOrderByCreateTimeDesc" parameterType="string" resultType="UserPasswordHistory">
        <!-- @formatter:off -->
        SELECT
            id,
            hashed_pwd     AS 'hashedPassword',
            user_id        AS 'userId',
            create_time    AS 'createTime'
        FROM
            t_user_pwd_his AS uph
        WHERE
            uph.user_id     = #{userId}
        ORDER BY
			create_time DESC
        <!-- @formatter:on -->
    </select>

</mapper>