<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yingzhuo.playground.mapper.UserMapper">

    <select id="findByIdForUpdate" parameterType="string" resultType="User">
        <!-- @formatter:off -->
        <![CDATA[
        SELECT
            id,
            username,
            password,
            authorities,
            enabled,
            create_time AS 'createTime'
        FROM
            t_user AS u
        WHERE
            u.id = #{id}
        FOR UPDATE
        ]]>
        <!-- @formatter:on -->
    </select>

    <select id="findByUsername" parameterType="string" resultType="User">
        <!-- @formatter:off -->
        <![CDATA[
        SELECT
            id,
            username,
            password,
            authorities,
            enabled,
            create_time AS 'createTime'
        FROM
            t_user AS u
        WHERE
            u.username = #{username}
        ]]>
        <!-- @formatter:on -->
    </select>

    <select id="findByUsernameAndPassword" parameterType="map" resultType="User">
        <!-- @formatter:off -->
        <![CDATA[
        SELECT
            id,
            username,
            password,
            authorities,
            enabled,
            create_time AS 'createTime'
        FROM
            t_user AS u
        WHERE
            u.username = #{username}
        AND
            u.password = #{password}
        ]]>
        <!-- @formatter:on -->
    </select>

</mapper>