<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yingzhuo.playground.mapper.UserMapper">

    <sql id="selectBase">
        <!-- @formatter:off -->
        SELECT
            id,
            username,
            password,
            authorities,
            enabled,
            email,
            dob,
            gender,
            create_time
        FROM
            t_user             AS u
        <!-- @formatter:on -->
    </sql>

    <select id="findByUsername" parameterType="string" resultType="User">
        <include refid="selectBase"/>
        <!-- @formatter:off -->
        WHERE u.username = #{username}
        <!-- @formatter:on -->
    </select>

</mapper>