<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.yingzhuo.playground.mapper.UserAddressMapper">

    <select id="findByUserId" parameterType="string" resultType="UserAddress">
        <!-- @formatter:off -->
        <![CDATA[
        SELECT
            id,
            zip_code,
            detail,
            user_id,
            create_time
        FROM
            t_user_address
        WHERE
            user_id = #{userId}
        ]]>
        <!-- @formatter:on -->
    </select>

</mapper>