<?xml version="1.0" encoding="UTF-8"?>
<!-- @formatter:off -->
<included>

    <logger name="spring.turbo" level="debug"/>

    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.boot.context.ApplicationPidFileWriter" level="off"/>
    <logger name="org.springframework.security" level="info"/>
    <logger name="_org.springframework.web.servlet.HandlerMapping.Mappings" level="info"/>

    <!-- resilience4j -->
    <logger name="io.github.resilience4j" level="debug"/>
    <logger name="io.github.resilience4j.spring6.utils.ReactorOnClasspathCondition" level="info"/>
    <logger name="io.github.resilience4j.spring6.utils.RxJava2OnClasspathCondition" level="info"/>

    <!-- redis -->
    <logger name="io.lettuce" level="info"/>
    <logger name="org.redisson" level="warn"/>

    <!-- net tools -->
    <logger name="io.netty" level="info"/>

    <logger name="com.zaxxer.hikari" level="info"/>

    <!-- mybatis -->
    <logger name="com.baomidou.mybatisplus" level="info"/>
    <logger name="org.apache.ibatis" level="info"/>
    <logger name="org.mybatis" level="info"/>

    <!-- hibernate-validator -->
    <logger name="org.jboss.logging" level="info"/>
    <logger name="org.hibernate.validator" level="info"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="warn"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</included>
<!-- @formatter:on -->